<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <div id="main-container">
        <a href="/hide" id="left-container">
            <span>HIDE</span>
        </a>
        <a href="/unhide" id="right-container">
            <span>UNHIDE</span>
        </a>
    <div>
</body>
</html>