<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/hide.css" />
</head>
<body>
    <div id="main-container">
        <form enctype="multipart/form-data" action="http://localhost:{{port}}/hide" method="POST">
            <div id="top-container">
                <input name="message" type="text" id="txt-input" value="{{form.txtMessage}}" placeholder="Type a message to hide in the image."/>
                <span id="or">OR</span>
                <input type="file" name="file_msg" id="file" />
            </div>
            <div id="bottom-container">
                {{#images}}
                    <div class="container">
                        <input type="radio" group="images" {{#selected}}checked="true"{{/selected}} name="image" value="{{name}}" />
                        <img src={{url}} />
                    </div>
                {{/images}}
            </div>
            <input type="submit" /><br>
            <a href="/index.html" id="home">Home</a>
        </form>
        {{#error}}
        <h3>Error Logs</h3>
        <div>
            {{error}}
        </div>
        {{/error}}
    </div>
</body>
</html>