<html>
<head>
    <title></title>
    <link rel="stylesheet" href="/static/css/hide.css" />
</head>
<body>
    <div id="main-container">
        <form enctype="multipart/form-data" action="http://localhost:4000/hide" method="POST">
            <div id="top-container">
            </div>
            <div id="bottom-container">
                SUCCESS: {{msg}}
            </div>
        </form>
    <div>
</body>
</html>